html * {
  font-family: sans-serif !important;
}

.site-page-header {
  /*border: 1px solid rgb(235, 237, 240);*/
  /*background-color: #1890ff !important;*/
  color: white !important;
  height: 35px !important;
  /*justify-content: space-between !important;*/
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 30px;
  border-bottom: 1px solid gainsboro;
  width: 50%;
  margin-bottom: .5rem;
}

/*.div-br {*/
/*  border-bottom: 1px solid gainsboro;*/
/*  !*width: 100px;*!*/
/*  margin-bottom: 10px;*/
/*  margin-top: 10px;*/
/*}*/

.button-orange {
  color: orange !important;
  border-color: orange !important;
  width: 250px;
  font-weight: bold !important;

}

.button-red {
  width: 250px;
  font-weight: bold !important;
  margin-right: 10px;
}

.bottoms-add {
  display: flex;
  margin-bottom: 10px;
}

.sidebar {
  width: 250px;
}

.a-style {
  color: black;
  justify-content: space-between !important;

}

.list-aside {
  border: none !important;
  width: 250px;
  margin-top: 20px !important;
  justify-content: space-between;
}

.ant-list-item {
  justify-content: space-between !important;
}

.data-picker {
  width: 160px;
  margin-right: 10px;
}

.date {
  margin-right: 10px;
}

.ant-picker {
  border: none !important;
}


.div-data {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border-bottom: 1px solid gainsboro;*/
}

.checkbox-my-doc {
  margin-top: 20px;
  margin-left: 25px;
}

.site-button-ghost-wrapper {
  text-align: center;
  margin-top: 10px;
}

.app-context-div {
  display: flex;
}

.content {
  margin: 0 10px;
  width: 100%;
}

.ant-pagination.ant-table-pagination.ant-table-pagination-right {
  text-align: center;
}

th {
  font-weight: bold !important;
}


.header {
  height: 140px;
  padding-top: 25px;
}

.search-panel{
  width: 60rem !important;
  margin-left: 10px;
  margin-right: 10px;
}

.UnorderedListOutlined {
  /*font-size: 30px !important;*/
}

/*.svg {*/
/*  background-image:*/
/*url("http://www.w3.org/2000/svg");*/
/*}*/